.order-container {
    padding: 2rem 10rem;
}

.card {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--black-300);
}

.pending-status {
    background-color: #FFFF00;
    border-radius: 25px;
    padding: 1px;
}

.pending-tag {
    background: #FFFF00;
    border-radius: 10px;
    padding: 2px 8px;
    font-size: 0.8rem;
    font-weight: 500;
}

.s-card {
    margin-top: 50px;
}

.bold-text {
    font-size: 1.3rem;
    font-weight: 700;
}

.normal-text {
    font-size: 1.01rem;
    font-weight: 400;
}

.medium-bold-text {
    font-size: 1.02rem;
    font-weight: 600;
}

.header-bold-text {
    font-size: 1.02rem;
    font-weight: 700;
}

.product-deatails {
    width: max-content;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orderdate {
    margin-bottom: 30px;
}

.more-details {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.span1 {
    flex: 1 0 0;
}


/* .amount {
    min-width: 80px;
} */

hr {
    color: white;
    border-top: 2px solid gray;
    margin: 7px 0px;
}

.orderid {
    margin-bottom: 0px;
}

.group-icon {
    float: right;
}

.infoButon {
    height: 22px;
    width: 22px;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
    border: none;
    background-color: var(--accent);
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.over-price {
    text-decoration: line-through;
    color: rgb(255, 60, 60);
    font-size: 0.9rem;
}

.saved {
    color: white;
    font-size: 0.9rem;
    background-color: limegreen;
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
}

@media (max-width: 1000px) {
    .order-container {
        padding: 2rem 1rem;
    }
    .card {
        padding: 20px;
    }
    .orderid {
        font-size: 80%;
    }
    .s-card {
        margin-top: 10px;
    }
    .more-details {
        flex-direction: column;
        gap: 0px;
    }
    .bold-text {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .header-bold-text {
        font-size: 1.02rem;
        font-weight: 600;
    }
}
