.background {
    padding: 0px 10vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    justify-content: space-around;
    position: fixed;
    z-index: -1;
}

.waiting { cursor: wait; }

.bg-square {
    height: 20vw;
    width: 20vw;
    background-color: var(--LogoColor);
    opacity: 0.05;
}

.float-right {
    float: right;
    margin-left: auto;
}

.bg-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: auto;
    opacity: 0.15;
}

.top {
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 350px;
    position: absolute;
}

.top-logo {
    width: 100%;
    margin-top: 1rem;
    cursor: pointer;
}

form {
    margin-top: 5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--black-300);
    margin-bottom: 100px;
}

.form-group {
    margin: 0.25rem 0;
}

.title-text {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.title-text-sm {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.signUp {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
    background-color: var(--accent);
    font-size: 1.15rem;
    font-weight: 700;
    margin-top: 2rem;
}

.or {
    font-size: 1rem;
    font-weight: 700;
    margin: 10px 0px;
    text-align: center;
}

.sign-text {
    margin-bottom: 3px;
}

.sign-div {
    text-align: center;
    margin-top: 20px;
}

.error-box {
    padding: 3px;
    border: 1px red solid;
    border-radius: 3px;
    background-color: rgb(255, 241, 241);
}

.success-box {
    padding: 3px;
    border: 1px green solid;
    border-radius: 3px;
    background-color: rgb(216, 255, 214);
    color: green;
}

.btn-grp{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  transform: translateX(-10px) translateY(-7px);
}

.input-group-addon{
  border:none;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;

}

label {
    margin-bottom: 0.25rem;
}

small {
    font-size: 0.7rem;
}

label {
    margin-bottom: 0.25rem;
}

@media (max-width:700px) {
    .background {
        padding: 0px 0px;
    }
    .bg-square {
        height: 40vw;
        width: 40vw;
    }
    .bg-logo {
        width: 100vw;
    }
    .top {
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        position: absolute;
    }
}

.center-content {
    margin-top: 10px;
    text-align: center;
}

.bold {
    font-weight: 600;
}
