<app-main-nav></app-main-nav>
<div class="page-container">
    <div class="section-1">
        <div class="card details">
            <div class="details-container">
                <div class="display-picture">
                    <div class="img-container">
                        <img [src]='profilePicture' class="profile-image" alt="profile-picture" srcset="">
                    </div>
                </div>
                <div class="information">
                    <p class="alias">{{walletInformation.alias}}</p>
                    <p class="email">{{walletInformation.email}}</p>
                </div>
            </div>
        </div>
        <div class="card wallet">
            <div class="wallet-container">
                <div class="wallet-icon">
                    <img src="../../../../assets/wallet/icon.png" alt="Wallet-icon">
                </div>
                <div class="wallet-balance">
                    <span class="balance-title">Balance</span>
                    <p class="balance">{{walletInformation.balance}}</p>
                </div>
            </div>
        </div>
        <div class="card wallet">
            
        </div>
        
       
    </div>

    <!-- <div class="card how-to">
        <h6>How to use naborino wallet.</h6>
        <ol>
            <li>Load some money into your naborino wallet. </li>
            <li>Use your naborino wallet balance to buy your favorite deals.</li>
            <li>We will deduct the cost of the deals original price from your wallet and refund the difference of the deal closing price and original price to your wallet if the deal succeeds.</li>
            <li>If the deal fails, we refund the original price into your wallet.</li>
        </ol>

        <p>This system allows us to make deal periods longer, so that you get best prices in your deals.</p>
    </div> -->
    <!-- <div class="section-2">
        <div class="col-container">
            <div class="card wallet">
                <div class="wallet-container">
                    <div class="wallet-icon">
                        <img src="../../../../assets/wallet/icon.png" alt="Wallet-icon">
                    </div>
                    <div class="wallet-balance">
                        <span class="balance-title">Balance</span>
                        <p class="balance">{{walletInformation.balance}}</p>
                    </div>
                </div>
            </div>
            <div class="card loader">
                <div class="wallet-container">
                    <div class="wallet-icon">
                        <img src="../../../../assets/wallet/icon.png" alt="Wallet-icon">
                    </div>
                    <div class="wallet-balance">
                        <span class="balance-title">Balance</span>
                        <p class="balance">{{walletInformation.balance}}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <h6>How to use naborino wallet.</h6>
            <ol>
                <li>Load some money into your naborino wallet. </li>
                <li>Use your naborino wallet balance to buy your favorite deals.</li>
                <li>We will deduct the cost of the deals original price from your wallet and refund the difference of the deal closing price and original price to your wallet if the deal succeeds.</li>
                <li>If the deal fails, we refund the original price into your wallet.</li>
            </ol>

            <p>This system allows us to make deal periods longer, so that you get best prices in your deals.</p>
            <h6>How to use naborino wallet.</h6>
            <ol>
                <li>Load some money into your naborino wallet. </li>
                <li>Use your naborino wallet balance to buy your favorite deals.</li>
                <li>We will deduct the cost of the deals original price from your wallet and refund the difference of the deal closing price and original price to your wallet if the deal succeeds.</li>
                <li>If the deal fails, we refund the original price into your wallet.</li>
            </ol>

            <p>This system allows us to make deal periods longer, so that you get best prices in your deals.</p>
        </div>
    </div> -->

</div>