<section>
    <div>
        <app-general-background></app-general-background>

        <div class="top">
            <img (click)="logoClicked()" class="top-logo" src="../../../../assets/images/logo.png" alt="logo">

            <form [formGroup]="passwordForm">

                <p class="title-text">Enter your new password</p>
                <p class="title-text-sm">Password must be aleast 8 characters long. Use a unique password to make it safer.</p>

                <div class="form-group">
                    <label for="password">Password </label>
                    <input [(ngModel)]="password" formControlName="password" type="password" class="form-control" id="password">
                    <small *ngIf="passwordForm.get('password')!.invalid && passwordForm.get('password')!.touched" class="text-danger">Password must be 8 characters</small>
                </div>

                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input formControlName="password2" type="password" class="form-control" id="password2" [(ngModel)]="password2">
                    <small *ngIf="passwordForm.hasError('passwordsNotMatching') && passwordForm.get('password2')!.touched" class="text-danger">Password is not matching!!</small>
                </div>

                <div *ngIf="message!='' || wait" class="center-content">
                    <small *ngIf="wait">Please Wait...</small>
                    <small *ngIf="message!=''" class="text-success bold success-box">{{message}}</small>
                </div>

                <div class="btn-div">
                    <button [disabled]="passwordForm.invalid" (click)="resetPassword()" class="btn" type="submit">Reset
                    Password</button>
                </div>

                <small class="middle">If you still need help, contact <a href="mailto:hey@naborino.com">hey@naborino.com</a></small>
            </form>

        </div>
    </div>
</section>