<app-main-nav></app-main-nav>

<div class="container">

  <!-- ============ Search Bar Start=================-->
  <div class="search">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
      viewBox="0 0 16 16">
      <path
        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
    </svg> <input id='search' placeholder="Search for an Interest..." (clickOutside)="toggleDropDownOut()"
      (click)="toggleDropDown()" class=' input-underline search-bar ' [(ngModel)]='selectedItem' autocomplete="off"
      type='text'>

    <div *ngIf="showDropDown">
      <div class="state-container-dropdown">
        <div class="globalItem" *ngFor="let item of globalList | itemFilter:selectedItem">
          <div (click)="itemClicked(item)">
            {{item}}
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- ============ Search Bar End=================-->

  <div class="row">
    <div class="col-3 cards" *ngFor="let interest of list">

      <ng-container *ngIf="selected.includes(interest); else elseTemplate">
        <input type="checkbox" id="{{interest}}" name="scales" (change)=" onCheck(interest)" checked>
        <label for="{{interest}}"> {{interest}}</label>
      </ng-container>
      <ng-template #elseTemplate>
        <input type="checkbox" id="{{interest}}" name="scales" (change)=" onCheck(interest)">
        <label for="{{interest}}"> {{interest}}</label>
      </ng-template>




    </div>
  </div>
  <div class="buttons">
    <button class="btnclose" (click)="close()">Close</button>
    <ng-container *ngIf="selected.length==0; else elseTemplate">
      <button class="btnsubmit" (click)="submit()" disabled>Submit</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button class="btnsubmit" (click)="submit()">Submit</button>
    </ng-template>


  </div>
</div>




<app-fixed-footer></app-fixed-footer>