<app-main-nav></app-main-nav>

<div class="c-container {{loadingClass}}">

    <p class="bold-text">Checkout</p>

    <div class="checkout-container">

        <div class="card" *ngIf="cartEmpty==true">
            <h5>Cart Is Empty</h5>
            <h6><a href="/market">Start Shopping</a></h6>
        </div>

        <div *ngIf="cartEmpty==false" class="card">
            <p class="bold-text">Shipping Address</p>
            <p class="normal-text">Unit - {{unit}}
                <br> {{firstLine}}
                <br> {{city}}
                <br> {{state}}
                <br> {{country}}
            </p>
            <a class="normal-text" href="/editprofile">Change address here.</a>
        </div>

        <div *ngIf="cartEmpty==false" class="card flex-1">
            <app-cart-total [cart]="cartOrder"></app-cart-total>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" (change)="saveCard=!saveCard" [checked]="saveCard">
                <label class="normal-text">Save card details on checkout</label>
            </div>
            <button (click)="pay()" [disabled]="checkoutValid==false" class="payment bold-text">Pay Now</button>
        </div>
    </div>
</div>