.btnKnock{
  background-color: white;
  border-radius: 5px;
  border : var(--LogoColor) 2px solid;
  padding:0.25rem 0.5rem;
}

.btnKnock:hover {
  background-color: var(--LogoColor);
  color:white;
}

.time{
  display: flex;
  justify-content: flex-end;
}

.btn-close{
  float:right;
  border-radius:50%;
  height:auto;
  width:auto;
  margin-right:10px;
}

.Notification{
  padding:5px;
}


.toast{
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.deal-container{
  display: flex;
  gap:0.5rem;
  flex-direction:row;
  justify-content: start;
  align-items: flex-start;
}

.deal_thumbnail{
  height: 75px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  border: 1px solid var(--black-300)
}

.deal_thumbnail:hover{
  filter: brightness(0.9);
}


.info-container{
  font-size: 0.9rem;
}

.action-container{
  margin-top:0.5rem;
  display: flex;
  justify-content: flex-end;
  gap:1rem;
}



